# Resend Email Service Configuration
RESEND_API_KEY=
RESEND_FROM_EMAIL=onboarding@resend.dev
CONTACT_RECEIVER_EMAIL=

# GitHub REST API Token (Optional: Increases rate limit from 60 to 5,000 requests/hr)
GITHUB_TOKEN=
